<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.BoardMapper">
	<select id="getList" resultType="org.joonzis.domain.BoardVO">
		<![CDATA[
	      SELECT bno, title, writer, regdate, replycnt
	      FROM
	          (SELECT rownum rn, a.*
	          FROM
	              (SELECT bno, title, writer, regdate, replycnt
	              FROM tbl_board
	              ORDER BY bno DESC) a
	          WHERE rownum <= #{pageNum} * #{amount})
	      WHERE rn > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	<!-- 게시글 전체 개수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM TBL_BOARD 
	</select>

    <!-- 데이터 삽입 -->
     <!-- <selectKey
    	keyProperty="bno"
    	resultType="int"
    	order="BEFORE">
   		SELECT seq_board.nextval from dual
   	</selectKey> -->
   	<!-- insert 쿼리 안에 selectkey 넣으면 먼저 select 가능 -->
   	<!-- selectkey를 사용하려면  seq_board.nextval 이 부분을 ${bno}로 수정-->
    <insert id="insert" parameterType="org.joonzis.domain.BoardVO">
        INSERT INTO TBL_BOARD (bno, title, content, writer, regdate, updatedate)
        VALUES (seq_board.nextval, #{title}, #{content}, #{writer}, SYSDATE, SYSDATE)
   </insert>
   
	<select id="getCurrBno" resultType="int"> 
		SELECT seq_board.currval FROM dual 
	</select>
	

    <!-- 단일 조회 -->
    <select id="read" parameterType="int" resultType="org.joonzis.domain.BoardVO">
        SELECT * FROM TBL_BOARD WHERE bno = #{bno}
    </select>

    <!-- 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM TBL_BOARD WHERE bno = #{bno}
    </delete>

    <!-- 수정 -->
    <update id="update" parameterType="org.joonzis.domain.BoardVO">
        UPDATE TBL_BOARD
        SET title = #{title},
            content = #{content},
            writer = #{writer},
            updatedate = SYSDATE
        WHERE bno = #{bno}
    </update>
    
    <!-- 댓글 데이터 변경 -->
    <update id="updateReplyCnt">
        UPDATE TBL_BOARD
        SET replycnt = replycnt + #{amount}
        WHERE bno = #{bno}
    </update>
    
</mapper>
